
body {
  background: #f7f7f7;
}

.app {
  width: 36em;
  margin: 3em;
}

form {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1em;
  margin-bottom: 1em;
}

button {
  background: #17f;
  color: #fff;
  font: inherit;
  border: none;
  border-radius: 3px;
  outline: none;
  padding: 0.5em 1.5em;
}

button:active {
  background-color: #05b;
}

input {
  border: 1px solid #999;
  border-radius: 3px;
  font: inherit;
  padding: 0.5em;
  outline: none;
}

input:focus {
  outline: auto #17f;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.items {
  display: grid;
  gap: 1em;
}

.item {
  background: #fff;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0px 1px 6px 2px #0002;
  transition: transform 100ms ease-in-out;
  display: grid;
  gap: 1em;
  grid-template:
    "d i"
    "m m";
}

.item:hover {
  transform: scale(1.02);
}

.item div {
  grid-area: d;
}

.item img {
  grid-area: i;
}

.item ul {
  grid-area: m;
}

.meta {
  display: grid;
  grid-auto-flow: column;
  gap: 2em;
  font-size: 80%;
  color: #555;
}

body {
  background-color: rgb(191, 183, 183);
}




.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.video-player-body {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.form {
  display: flex;
  justify-content: center;
  margin-left: 35px;
}

/* Iput box */
.input-box{
  width: 30vw;
}

/* video window */
.video-window {
  justify-content: center;
  display: flex;
  border-radius: 50px;
}

/* Input box */
/* .input-rounded {
  width: 574.3px;
  border-radius: 20px;
  padding-left: 45px;
  height: 20px;
  margin-bottom: -15px
} */

/* The search icon */
/* .searchIcon {
  font-size: 20px;
  transform: translate(-630px, 10px);
  color: rgb(30, 7, 244);
} */

/* The replace button */
.ytp-menuitem-label {
  text-align: center;
  font-size: 16px;
  width: 50px;
}

/* i frame */
iframe {
  border-radius: 20px;
  margin-bottom: 5px;
}

/* Videos container */
/* .videosContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 639px;
  max-height: 220px;
  margin-left: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
} */

.videosContainer {
  display: flex;
  position: relative
  flex-wrap: wrap;
  max-height: 89vh;
  margin-left: 3px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* Single card */
.single-card {
  margin-right: 5.8px;
  /* border-radius: 20px; */
}

.search-icon{
  margin-top: 2px;
}

/* Remove the verticale scroll bar */
.videosContainer::-webkit-scrollbar {
  display: none;
}

/* Videos container */
.videosContainer {
  display: flex;
  flex-wrap: wrap;
  max-height: 89vh;
  overflow-y: scroll;
  overflow-x: hidden;
}