.video-player-body{
  width: 100%;
}

.form {
  justify-content: center;
    display: flex;  
}

/* video window */
.video-window {
  justify-content: center;
  display: flex;
  border-radius: 50px;
}

/* Input box */
.input-rounded{
  width: 574.3px;
  border-radius: 20px;
  padding-left: 10px;
  height: 20px;
}

/* The search icon */
.searchIcon{
  border-radius: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  position: relative;
  right: px;
  top: 2px;
  color: black;
}


























body{
  background-color: rgb(153, 175, 179);
}