/* Videos container */
.videosContainer-player {
	position: relative;
	left: -32vw;
	top: 80vh;
	justify-content: center;
	column-gap: 5px;
}

/* Form container */
.form-container{
  background-color: rgb(95, 81, 81);
  width: 82vw;
}

/* Contains all elements in the body */
.video-player-body {
  justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
  background-color: lightblue;
  width: 90vw;
  margin: auto;

}

 .form {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	width: 50vw;
} 

/* Input box */
.input-rounded {
	width: 574.3px;
	border-radius: 20px;
	padding-left: 45px;
	height: 25px;
	margin-bottom: -15px
}

/* The search icon */
.searchIcon {
	font-size: 20px;
	transform: translate(-47.2vw, 1vh);
	color: rgb(30, 7, 244);
}

/* i frame */
iframe {
	height: 80vh;
	width: 82vw;
	border-radius: 20px;

}

/* Videos container */


/* Remove the verticale scroll bar */
 .videosContainer::-webkit-scrollbar {
	display: none;
}

.single-card {
	text-justify: center;
	display: flex;
	align-items: center;
	width: 290px;
	height: 100px;
	background: #fff;
	padding: 0 4px;
	border-radius: 6px;
	box-shadow: 0px 3px 6px 2px #0002;
	transition: transform 100ms ease-in-out;
	margin-bottom: 5px;
} 

/* Cards container */
.cards{
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
}

.single-card:hover {
	transform: scale(1.03);
	background-color: rgb(204, 201, 155)
}

/* Text isine each card */
 .video-description {
	margin-left: 2px;
}  

/* Contains the iframe and all cards */
.iframe-and-videoCards-container {
	margin: 0 5px;
	display: flex;
	flex-direction: column;
}

/* Title */
 .title {
	font-size: 0.002vw;
	font-weight: lighter;
	color: rgb(248, 5, 5);
} 

/* Just capitalize the first letter of the title */
 .title::first-letter {
	text-transform: capitalize;
}


.image {
	width: 100px;
	height: 80px;
	border-radius: 5px;
	padding: 2px;
} 

/* Channel id */
 .channel-id {
	font-size: 1px;
	text-decoration: none;
	color: black;
	font-size: 1px;
	position: relative;
	top: -2px;
} 

/* Channel id */
 .channel-id-:hover {
	color: blue;
}

.channel-id:first-letter {
	text-transform: capitalize;
} 

/* Views */
 .views {
	font-size: 1px;
}

/* Revove styles from the link */
 .link{
	text-decoration: none;
}  

 body {
	background-color: rgb(191, 183, 183);
}
 
