/* Contains all elements in the body */
.video-player-body {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(137, 150, 155);
  width: 84vw;
  margin: auto;
  border-radius: 20px;
}

/* Form container */
.form-container {
  display: flex;
  justify-content: center;
  background-color: rgb(115, 129, 134);
  width: 82vw;
  border-radius: 20px;
  margin-bottom: 2px;
  margin-top: 10px;
  gap: 10vw;
}

.form {
  justify-content: space-evenly;
  display: flex;
  margin-top: 5px;
  margin-bottom: 17px;
}

/* Home icon */
.home-icon {
  position: absolute;
  left: 105px;
  top: 25px;
  font-size: 25px;
  color: rgb(220, 229, 219);
}

.addPlaylist-icon {
  position: absolute;
  left: 145px;
  top: 25px;
  font-size: 25px;
  color: rgb(220, 229, 219);
}

/* Input box */
.input-rounded {
  width: 40vw;
  border-radius: 20px;
  padding-left: 45px;
  height: 25px;
  margin-bottom: -15px
}

/* The search icon */
.searchIcon {
  font-size: 20px;
  position: relative;
  left: 32px;
  top: 7px;
  /* transform: translate(-507px, 7px); */
  color: rgb(30, 7, 244);
}

/* search-icon-and-input-box */
.search-icon-and-input-box {
  justify-content: center;
  display: flex;
  padding: 0 40vw;
}

/* i frame */
iframe {
  height: 80vh;
  width: 82.5vw;
  border-radius: 20px;
  position: relative;
  left: 0.3vw;
}

/* Remove the verticale scroll bar */
.videosContainer::-webkit-scrollbar {
  display: none;
}

/* Single card */
.single-card {
  text-justify: center;
  display: flex;
  align-items: center;
  width: 430px;
  height: 120px;
  background: #fff;
  padding: 0 2px;
  border-radius: 6px;
  box-shadow: 0px 3px 6px 2px #0002;
  transition: transform 100ms ease-in-out;
  margin-bottom: 5px;
}

/* Cards container */
.cards {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  display: flex;
  column-gap: 5px;
  overflow-y: scroll;
  height: 80vh;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* Remove the verticale scroll bar */
.cards::-webkit-scrollbar {
  display: none;
}

.single-card:hover {
  transform: scale(1.03);
  background-color: rgb(204, 201, 155)
}

/* Text inside each card */
.video-description {
  margin-left: 2px;
}

/* Contains the iframe and all cards */
.iframe-and-videoCards-container {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

/* Title */
.title {
  font-size: 0.002vw;
  font-weight: lighter;
  color: rgb(248, 5, 5);
  margin-bottom: 3px;
}

/* Just capitalize the first letter of the title */
.title::first-letter {
  text-transform: capitalize;
}

/* image in the the card */
.image {
  width: 120px;
  height: 80px;
  border-radius: 5px;
  padding: 2px;
}

/* Channel id */
.channel-id {
  font-size: 1px;
  text-decoration: none;
  color: black;
  font-size: 1px;
  position: relative;
  top: 2px;
}

/* Channel id */
.channel-id-:hover {
  color: blue;
}

.channel-id:first-letter {
  text-transform: capitalize;
}

/* Views */
.views {
  font-size: 1px;
  color: black;
  
}

/* views-posted-duration */
.views-posted-duration{
  margin-left: 130px;
  margin-top: -10px;
}

/* Revove styles from the link */
.link {
  text-decoration: none;
}

/* Likes container */
.likes-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 10px;
}

/* Like-icon */
.like-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

/* Change like-icon color on hover */
.like-icon:hover {
  color: rgb(232, 241, 241);
}

/* Dislike-icon */
.dislike-icon {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

/* Change Dislike-icon color on hover */
.dislike-icon:hover {
  color: rgb(232, 241, 241);
}

/* Dislikes container */
.dislikes-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 30px;
}

/* Add to playlist container */
.add-to-playlist {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 5px;
}

/* Change like-icon color on hover */
.add-to-playlist:hover {
  color: rgb(232, 241, 241);
}

.like-dislike-playlist-container {
  width: 82vw;
  border-radius: 30px;
  border: 2px solid rgb(115, 129, 134);
  justify-content: center;
  display: flex;
  margin: 3px 1px -4px 0px;
  position: relative;
  left: 3px;
  gap: 40px;
}

/* Change the color on hover */
.add-to-playlist-icon:hover {
  color: rgb(232, 241, 241);
}

.home-and-playlist-icons{
  position: relative;
  left: -112vw;
  top: -22px;
  margin: 1;
}

/* logo-cannel-views-posted-duration */
.logo-cannel-views-posted-duration{
  justify-content: start;
  display: flex;
}

/* Channel logo */
.channel-logo{
  background-image: none;
  border-radius:50px;
}

/* views, posted and duration info */
.channel-info{
  margin-left: 2px;
  margin-top: 3px;
}

/* logo-channelName */
.logo-channelName{
  display: grid;
  grid-template-columns: row;
}

body {
  background-color: rgb(5, 5, 5);
}