 .video-player-body-home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-home {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 50vw;
} 

/* Input box */
 .input-rounded-home {
  width: 574.3px;
  border-radius: 20px;
  padding-left: 45px;
  height: 20px;
  margin-bottom: -15px
} 

/* The search icon */
.searchIcon-home {
  font-size: 20px;
  transform: translate(-47vw, 10px);
  color: rgb(30, 7, 244);
}

/* i frame */
iframe {
  height: 80vh;
  width: 70vw;
  border-radius: 20px;
  transform: translateX(-13.6vw)
}

.videosContainer {
  display: flex;
  max-height: 80vh;
  flex-direction: row;
  overflow-y: scroll;
  position: relative;
  left: 27vw;
  margin-bottom: -750px;
}

/* Remove the verticale scroll bar */
.videosContainer::-webkit-scrollbar {
  display: none;
}

.single-card {
  text-justify: center;
  display: flex;
  align-items: center;
  width: 290px;
  height:100px;
  background: #fff;
  padding-left: 4px;
  border-radius: 6px;
  box-shadow: 0px 1px 6px 2px #0002;
  transition: transform 100ms ease-in-out;
  margin-bottom: 5px;
}

.single-card:hover {
  transform: scale(1.03);
  background-color: rgb(204, 201, 155)
}

/* Text isine each card */
.video-description {
  margin-left: 2px;
}

/* Contains the iframe and all cards */
.iframe-and-videoCards-container {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

/* cards column  */
.iframe-and-videoCards-container:nth-last-of-type(2) {
  margin-left: 5px;
}

/* Title */
.title {
  font-size: 0.002vw;
  font-weight: lighter;
  color: rgb(248, 5, 5);
}

/* Just capitalize the first letter of the title */
.title::first-letter {
  text-transform: capitalize;
}

.image {
  width: 100px;
  height: 80px;
  border-radius: 5px;
  padding: 2px
}

/* Channel id */
.channel-id {
  font-size: 1px;
  text-decoration: none;
  color: black;
  font-size: 1px;
  position: relative;
  top: -2px;
}

/* Channel id */
.channel-id:hover {
  color: blue;
}

.channel-id:first-letter {
  text-transform: capitalize;
}

/* Views */
 .views {
  font-size: 1px;
} 

