
.send-button-player {
	background: #17f;
	color: #fff;
	font: inherit;
	border: none;
	border-radius: 3px;
	outline: none;
	padding: 0.5em 1.5em;
}

/* Form container */
.form-player{
	margin-top: 20px;
}

/* Videos container */
.videosContainer-player {
	position: relative;
	left: -32vw;
	top: 80vh;

	justify-content: center;
	column-gap: 5px;

	
	margin-top: 10px;
}

.video-player-body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.form {
	display: flex;
	justify-content: center;
	margin-bottom: 20px;
	width: 50vw;
}

/* video window */
.video-window {
	justify-content: center;
	display: flex;
	border-radius: 20px;
}

/* Input box */
.input-rounded {
	width: 574.3px;
	border-radius: 20px;
	padding-left: 45px;
	height: 20px;
	margin-bottom: -15px
}

/* The search icon */
.searchIcon {
	font-size: 20px;
	transform: translate(-47vw, 10px);
	color: rgb(30, 7, 244);
}

/* i frame */
iframe {
	height: 80vh;
	width: 70vw;
	border-radius: 20px;
	transform: translateX(-13.6vw)
}

.videosContainer-player {
	display: flex;
	max-height: 80vh;
	flex-direction: column;
	overflow-y: scroll;
	transform: translate(30vw, -80vh);
	position: relative;
	left: 27vw;
	margin-bottom: -750px;
}

/* Remove the verticale scroll bar */
.videosContainer-player::-webkit-scrollbar {
	display: none;
}

.single-card {
	text-justify: center;
	display: flex;
	align-items: center;
	width: 290px;
	height: 100px;
	background: #fff;
	padding-left: 4px;
	border-radius: 6px;
	box-shadow: 0px 1px 6px 2px #0002;
	transition: transform 100ms ease-in-out;
	margin-bottom: 5px;
}

.single-card:hover {
	transform: scale(1.03);
	background-color: rgb(204, 201, 155)
}

/* Text isine each card */
.video-description {
	margin-left: 2px;
}

/* Contains the iframe and all cards */
.iframe-and-videoCards-container {
	margin: 0 5px;
	display: flex;
	flex-direction: column;
}

/* cards column  */
.iframe-and-videoCards-container:nth-last-of-type(2) {
	margin-left: 5px;
}

/* Title */
.title {
	font-size: 0.002vw;
	font-weight: lighter;
	color: rgb(248, 5, 5);
}

/* Just capitalize the first letter of the title */
.title::first-letter {
	text-transform: capitalize;
}

.image {
	width: 100px;
	height: 80px;
	border-radius: 5px;
	padding: 2px
}

/* Channel id */
.channel-id {
	font-size: 1px;
	text-decoration: none;
	color: black;
	font-size: 1px;
	position: relative;
	top: -2px;
}

/* Channel id */
.channel-id:hover {
	color: blue;
}

.channel-id:first-letter {
	text-transform: capitalize;
}

/* Views */
.views- {
	font-size: 1px;
}

body {
	margin: 0px 50px;
	background-color: rgb(191, 183, 183);

}

