
.send-button-videoPlayer {
	background: #17f;
	color: #fff;
	font: inherit;
	border: none;
	border-radius: 3px;
	outline: none;
	padding: 0.5em 1.5em;
}


















/* Form container */
.form-videoPlayer{
	margin-top: 20px;
}


body {
	background-color: rgb(116, 89, 89)
}